<div class="w3-card w3-padding" style="max-width:400px;margin:auto">
    <h3>Вход</h3>
    <form action="/login" method="post" class="w3-container">
        <p>
            <label>Логин</label>
            <input class="w3-input" name="username">
        </p>
        <p>
            <label>Пароль</label>
            <input class="w3-input" name="password" type="password">
        </p>
        <p>
            <button class="w3-button w3-blue" type="submit">Войти</button>
            <a href="/books" class="w3-button w3-light-grey">Отмена</a>
        </p>
    </form>
</div>
