body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 27, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#gameCanvas {
    display: block;
    margin: auto;
    background: none;
    border: 4px solid rgb(0, 27, 35);
    box-sizing: border-box;
    width: 480px;
    height: 600px;
}

canvas {
    display: block;
    background: transparent;
    border: 4px solid rgb(0, 27, 35);
    margin: 0 auto;
}

#ui {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    z-index: 10;
}
